@import 'adaptive-font.scss';

article {
  width: 100%;
  flex: 1;

  display: flex;
  justify-content: center;
}

nav {
  margin-bottom: min(80px, calc(10vw - 40px));
}

.article {
  width: 100%;
  max-width: 563px;
  flex: 1;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.article-wrapper {
  padding: min(40px, calc(1px + 2.5vw)) min(40px, calc(1px + 2.5vw)) 0;
}

.article-text__title {
  margin-bottom: min(48px, calc(18px + 2vw));
}

.button__back {
  border-color: #000;
  margin-top: 0;
  margin-bottom: min(40px, calc(23px + 2vw));

  .vector-back {
    background-color: #000;
  }

  &:hover {
    border-color: var(--purple);
  }
}

.article-hider {
  width: 100%;
  max-width: 563px;
  background: linear-gradient(180deg, rgba(224, 224, 224, 0) 0%, #E0E0E0 40%);
  height: min(250px, max(170px, calc(15vh)));
  margin-top: auto;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.button-more {
  border-color: #000;
  width: calc(24vw);
  min-width: 204px;
  max-width: 330px;
  margin-bottom: min(40px, max(25px, calc(10vw)));
  transition: color .2s ease-in, border-color .2s ease-in;
  color: #000;

  &:hover {
    color: var(--purple);
  }
}