main {
  justify-content: flex-start;
  margin-top: calc(28px + 0.5vw);
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.cards .button-outline {
  transition: border-color 0.2s ease-in, color 0.2s ease-in;
  border-color: #000;
  color: #000;
}
.cards .button-outline:hover {
  border-color: var(--purple);
  color: var(--purple);
}

.cards-item {
  width: 100%;
  max-width: 464px;
  background-color: #fff;
  text-align: center;
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  margin: min(25px, calc(18px + 0.5vw)) min(40px, calc(0px + 3vw)) min(25px, calc(13px + 1vw));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-wrapper * {
  margin-bottom: calc(13px + 0.5vw);
}
.card-wrapper *:last-child {
  margin-bottom: 0;
}

.text__title {
  max-width: 770px;
}

/*# sourceMappingURL=Learns.css.map */
