@import 'adaptive-font.scss';

// TYPO

.typo-menu-link {
  @include adaptive-font(18, 18, 1440);
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.05em;
}

.typo-name {
  @include adaptive-font(36, 32, 1440);
  @include adaptive-line-height(42, 37, 1440);
  font-weight: 700;
  font-style: normal;
  line-height: 42px;
}

.typo-title {
  @include adaptive-font(40, 28, 1440);
  @include adaptive-line-height(40, 28, 1440);
  font-weight: 600;
  font-style: normal;
}

.typo-subtitle {
  @include adaptive-font(28, 18, 1440);
  @include adaptive-line-height(40, 18, 1440);
  font-weight: 600;
  font-style: normal;
}

.type-button {
  @include adaptive-font(20, 16, 1440);
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.05em;
}

.typo-button-outline {
  @include adaptive-font(20, 16, 1440);
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

.typo-primary {
  @include adaptive-font(20, 16, 1440);
  @include adaptive-line-height(24, 16, 1440);
  font-weight: 400;
  font-style: normal;
}

.typo-article {
  @include adaptive-font(20, 16, 1440);
  @include adaptive-line-height(24, 16, 1440);
  font-style: normal;
}

.typo-bold {
  font-weight: 600;
}

.typo-italic {
  font-style: italic;
}

// COLORS

:root {
  --purple: #A08EB7;
  --grey: #4F4F4F;
  --white: #FFFFFF;
}

// RESET

html {
  height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #231A2F;
  font-family: 'Work Sans', sans-serif;
}

h1, h2 {
  margin: 0;
  margin-block: 0;
}

.link {
  text-decoration: none;
  color: inherit;

  a {
    text-decoration: none;
    color: inherit;
  }
}

ul, ol {
  margin: 0;
  margin-block: 0;
  padding: 0 1em;
}

// NAV

nav {
  width: 100%;
  max-height: 70px;
  min-height: 70px;
  height: 70px;

  border-bottom: 1px solid var(--white);

  display: flex;
  justify-content: center;
  align-content: center;
}

.nav-wrapper {
  width: 100%;
  height: 100%;
}

.nav-menu {
  height: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-menu__name {
  margin-right: auto;
}

.menu-link {
  text-align: center;
  color: var(--white);
  transition: color 0.2s ease-in;

  &:hover {
    color: var(--purple)
  }
}

.nav-menu-links {
  height: 100%;

  display: flex;
  align-items: center;

  * {
    margin-right: 59px;
  }

  *:last-child {
    margin-right: 0;
  }
}

.name {
  height: 100%;
  z-index: 2;
  color: var(--white);
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu-hamburger-wrapper {
  display: none;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;

  input {
    width: 40px;
    height: 32px;
    display: block;
    position: absolute;
    top: -7px;
    left: -7px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }

  span {
    width: 33px;
    height: 4px;
    display: block;
    margin-bottom: 5px;
    position: relative;
    background: var(--white);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
  }

  span:first-child {
    transform-origin: 0 0;
  }

  span:nth-last-child(2) {
    transform-origin: 0 100%;
  }

  input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: var(--white);
  }

  input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  input:checked ~ div {
    visibility: visible;
  }
}

.nav-menu-hamburger-wrapper-item {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  visibility: hidden;
  padding-top: 125px;

  background: var(--grey);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
}

// CONTAINERS

.container, #root {
  width: 100%;
  max-width: 100vw;
  height: 100%;

  display: flex;
  align-content: center;
  flex-direction: column;
}

.body-wrapper {
  width: 100%;
  align-self: center;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

main {
  width: 100%;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: calc(100% - calc(2 * min(121px, calc(8vw + 10px))));
  max-width: 1440px;
}

.video {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;

  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

// TEXT

.text__title {
  color: var(--white);
  text-align: center;
}

.text {
  margin-bottom: min(41px, calc(14px + 2vw));
}

// BUTTON

.button {
  width: 100%;
  max-width: 166px;
  max-height: 56px;
  height: calc(100vw / 100 * 7);
  min-height: 46px;
  background-color: var(--white);
  text-align: center;
  box-shadow: 0px 10px 20px rgba(51, 51, 51, 0.25);
  color: var(--grey);
  transition: color .2s ease-in;

  &:hover {
    color: var(--purple);
  }

  display: flex;
  justify-content: center;
  align-items: center;
}

.button-outline {
  width: calc(100vw / 100 * 11);
  max-width: 148px;
  min-width: 121px;
  height: calc(100vw / 100 * 4);
  max-height: 56px;
  min-height: 46px;
  border: 1px solid var(--white);
  transition: border-color .2s ease-in;
  color: var(--white);

  .vector-back {
    transition: background-color .2s ease-in;
  }

  &:hover {
    .vector-back {
      background-color: var(--purple);
    }

    border-color: var(--purple);
  }

  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  width: 100%;

  * {
    margin-right: calc(21px + (100vw / 100));
  }

  *:last-child {
    margin-right: 0;
  }

  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 450px) {
  nav {
    border: 0;
  }
}

@media only screen and (max-width: 875px) {
  .nav-menu-hamburger-wrapper {
    display: block;
  }

  .nav-menu-links {
    display: none;
  }
}

.button__back {
  align-self: flex-start;
  margin-top: min(40px, calc(4vw - 16px));

  display: flex;
  justify-content: center;
  align-items: center;
}

.vector-back {
  width: 100%;
  height: 100%;
  -webkit-mask-image: url('../img/Vector.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background-color: var(--white);
}