.typo-menu-link {
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.05em;
}
@media (max-width: 767px) {
  .typo-menu-link {
    font-size: calc(18px + (0 * ((100vw - 320px) / 1440))) !important;
  }
}
@media (min-width: 767px) {
  .typo-menu-link {
    font-size: calc(18px + (0 * (100vw / 1440))) !important;
  }
}

.typo-name {
  font-weight: 700;
  font-style: normal;
  line-height: 42px;
}
@media (max-width: 767px) {
  .typo-name {
    font-size: calc(32px + (6.8 * ((100vw - 320px) / 1440))) !important;
  }
}
@media (min-width: 767px) {
  .typo-name {
    font-size: calc(32px + (4 * (100vw / 1440))) !important;
  }
}
@media (max-width: 767px) {
  .typo-name {
    line-height: calc(37px + (8.5 * ((100vw - 320px) / 1440))) !important;
  }
}
@media (min-width: 767px) {
  .typo-name {
    line-height: calc(37px + (5 * (100vw / 1440))) !important;
  }
}

.typo-title {
  font-weight: 600;
  font-style: normal;
}
@media (max-width: 767px) {
  .typo-title {
    font-size: calc(28px + (20.4 * ((100vw - 320px) / 1440))) !important;
  }
}
@media (min-width: 767px) {
  .typo-title {
    font-size: calc(28px + (12 * (100vw / 1440))) !important;
  }
}
@media (max-width: 767px) {
  .typo-title {
    line-height: calc(28px + (20.4 * ((100vw - 320px) / 1440))) !important;
  }
}
@media (min-width: 767px) {
  .typo-title {
    line-height: calc(28px + (12 * (100vw / 1440))) !important;
  }
}

.typo-subtitle {
  font-weight: 600;
  font-style: normal;
}
@media (max-width: 767px) {
  .typo-subtitle {
    font-size: calc(18px + (17 * ((100vw - 320px) / 1440))) !important;
  }
}
@media (min-width: 767px) {
  .typo-subtitle {
    font-size: calc(18px + (10 * (100vw / 1440))) !important;
  }
}
@media (max-width: 767px) {
  .typo-subtitle {
    line-height: calc(18px + (37.4 * ((100vw - 320px) / 1440))) !important;
  }
}
@media (min-width: 767px) {
  .typo-subtitle {
    line-height: calc(18px + (22 * (100vw / 1440))) !important;
  }
}

.type-button {
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.05em;
}
@media (max-width: 767px) {
  .type-button {
    font-size: calc(16px + (6.8 * ((100vw - 320px) / 1440))) !important;
  }
}
@media (min-width: 767px) {
  .type-button {
    font-size: calc(16px + (4 * (100vw / 1440))) !important;
  }
}

.typo-button-outline {
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}
@media (max-width: 767px) {
  .typo-button-outline {
    font-size: calc(16px + (6.8 * ((100vw - 320px) / 1440))) !important;
  }
}
@media (min-width: 767px) {
  .typo-button-outline {
    font-size: calc(16px + (4 * (100vw / 1440))) !important;
  }
}

.typo-primary {
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 767px) {
  .typo-primary {
    font-size: calc(16px + (6.8 * ((100vw - 320px) / 1440))) !important;
  }
}
@media (min-width: 767px) {
  .typo-primary {
    font-size: calc(16px + (4 * (100vw / 1440))) !important;
  }
}
@media (max-width: 767px) {
  .typo-primary {
    line-height: calc(16px + (13.6 * ((100vw - 320px) / 1440))) !important;
  }
}
@media (min-width: 767px) {
  .typo-primary {
    line-height: calc(16px + (8 * (100vw / 1440))) !important;
  }
}

.typo-article {
  font-style: normal;
}
@media (max-width: 767px) {
  .typo-article {
    font-size: calc(16px + (6.8 * ((100vw - 320px) / 1440))) !important;
  }
}
@media (min-width: 767px) {
  .typo-article {
    font-size: calc(16px + (4 * (100vw / 1440))) !important;
  }
}
@media (max-width: 767px) {
  .typo-article {
    line-height: calc(16px + (13.6 * ((100vw - 320px) / 1440))) !important;
  }
}
@media (min-width: 767px) {
  .typo-article {
    line-height: calc(16px + (8 * (100vw / 1440))) !important;
  }
}

.typo-bold {
  font-weight: 600;
}

.typo-italic {
  font-style: italic;
}

:root {
  --purple: #A08EB7;
  --grey: #4F4F4F;
  --white: #FFFFFF;
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #231A2F;
  font-family: "Work Sans", sans-serif;
}

h1, h2 {
  margin: 0;
  margin-block: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}
.link a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  margin: 0;
  margin-block: 0;
  padding: 0 1em;
}

nav {
  width: 100%;
  max-height: 70px;
  min-height: 70px;
  height: 70px;
  border-bottom: 1px solid var(--white);
  display: flex;
  justify-content: center;
  align-content: center;
}

.nav-wrapper {
  width: 100%;
  height: 100%;
}

.nav-menu {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-menu__name {
  margin-right: auto;
}

.menu-link {
  text-align: center;
  color: var(--white);
  transition: color 0.2s ease-in;
}
.menu-link:hover {
  color: var(--purple);
}

.nav-menu-links {
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-menu-links * {
  margin-right: 59px;
}
.nav-menu-links *:last-child {
  margin-right: 0;
}

.name {
  height: 100%;
  z-index: 2;
  color: var(--white);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu-hamburger-wrapper {
  display: none;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
.nav-menu-hamburger-wrapper input {
  width: 40px;
  height: 32px;
  display: block;
  position: absolute;
  top: -7px;
  left: -7px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
.nav-menu-hamburger-wrapper span {
  width: 33px;
  height: 4px;
  display: block;
  margin-bottom: 5px;
  position: relative;
  background: var(--white);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.nav-menu-hamburger-wrapper span:first-child {
  transform-origin: 0 0;
}
.nav-menu-hamburger-wrapper span:nth-last-child(2) {
  transform-origin: 0 100%;
}
.nav-menu-hamburger-wrapper input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--white);
}
.nav-menu-hamburger-wrapper input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
.nav-menu-hamburger-wrapper input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.nav-menu-hamburger-wrapper input:checked ~ div {
  visibility: visible;
}

.nav-menu-hamburger-wrapper-item {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  visibility: hidden;
  padding-top: 125px;
  background: var(--grey);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
}

.container, #root {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  display: flex;
  align-content: center;
  flex-direction: column;
}

.body-wrapper {
  width: 100%;
  align-self: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: calc(100% - calc(2 * min(121px, calc(8vw + 10px))));
  max-width: 1440px;
}

.video {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}
.video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.text__title {
  color: var(--white);
  text-align: center;
}

.text {
  margin-bottom: min(41px, calc(14px + 2vw));
}

.button {
  width: 100%;
  max-width: 166px;
  max-height: 56px;
  height: calc(100vw / 100 * 7);
  min-height: 46px;
  background-color: var(--white);
  text-align: center;
  box-shadow: 0px 10px 20px rgba(51, 51, 51, 0.25);
  color: var(--grey);
  transition: color 0.2s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover {
  color: var(--purple);
}

.button-outline {
  width: calc(100vw / 100 * 11);
  max-width: 148px;
  min-width: 121px;
  height: calc(100vw / 100 * 4);
  max-height: 56px;
  min-height: 46px;
  border: 1px solid var(--white);
  transition: border-color 0.2s ease-in;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-outline .vector-back {
  transition: background-color 0.2s ease-in;
}
.button-outline:hover {
  border-color: var(--purple);
}
.button-outline:hover .vector-back {
  background-color: var(--purple);
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}
.buttons * {
  margin-right: calc(21px + (100vw / 100));
}
.buttons *:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 450px) {
  nav {
    border: 0;
  }
}
@media only screen and (max-width: 875px) {
  .nav-menu-hamburger-wrapper {
    display: block;
  }

  .nav-menu-links {
    display: none;
  }
}
.button__back {
  align-self: flex-start;
  margin-top: min(40px, calc(4vw - 16px));
  display: flex;
  justify-content: center;
  align-items: center;
}

.vector-back {
  width: 100%;
  height: 100%;
  -webkit-mask-image: url("../img/Vector.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background-color: var(--white);
}

/*# sourceMappingURL=style.css.map */
